---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import Workshop_card from "../components/Workshop_card.astro";
import Section from "../components/Section.astro";
import Workshop_knap from "../components/Workshop_knap.astro";
---

<Layout>
<Hero/>
<div class="workshop_section">
	<h2>WORKSHOP</h2>
<div class="cards">
	<Workshop_card/>
	<Workshop_card/>
	<Workshop_card/>
</div>
<Workshop_knap/>
</div>
	
<Section/>

</Layout>

<style>

	
</style>
