
  <div>
  <h1>DANSESTUDIET</h1>
  <p>Experimental Contemporary, Afro, House, Street Jazz og meget mere!</p>
  <img class="hero-pic" src="../img/hero-dansedtuidet.png" alt="Hero-billede med dansere" />
  <div class="knap">
    <Skema_knap/>
  </div>
</div>