<section class="image_section">
    <img src= "../img/sectionbillede.webp" alt="sectionbillede">
<div class="text-content">
    <h2>HVEM ER VI?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit ation ull.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit ation ull</p>
</div>
</section>

<style>

    img{
      max-width: 2000px;
        height: auto;
        margin-top: 5rem;
        margin-inline: auto;

    }

    .image_section{
 width: 80%;
 margin-inline: auto;
    }

    .text-content{
        margin-top:1rem;

    }

 @media (min-width: 1000px) {
    .image_section{
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }
    img{
        width: 100%;
        height: auto;
        margin-top: var(--spacing-top, 9.375rem);
        /* margin-inline: 4rem; */
    }

    .text-content{
        margin-left: 3rem;
        margin-top: 22rem;
    }

   }

</style>