---
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content="Some Other Waves" /> -->
    <link rel="stylesheet" href="https://use.typekit.net/uwq3pya.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <meta name="robots" content="noindex" />
    <title>Dansestudiet</title>

  </head>   
  <body>
    <main><slot /></main>
  </body>
</html>

<style>
  
</style>
