---
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content="Some Other Waves" /> -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap" rel="stylesheet">
    <meta name="robots" content="noindex" />
    <title>Dansestudiet</title>

  </head>   
  <body>
    <main><slot /></main>
  </body>
</html>

<style>
  
</style>
